:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
  font-family: 'pokmon_ds_fontregular';
  src: url('../fonts/pokemon-ds-font-webfont.woff2') format('woff2'),
       url('../fonts/pokemon-ds-font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*::before,
*::after {
  box-sizing: border-box; 

}
html {
  font-family: 'pokmon_ds_fontregular', serif;
  background-color: #DF90A1;
  scroll-behavior: smooth;
  line-height: 1;
  margin: 0.5rem;
}
header {
  display: flex;
  justify content: space-between;
  align-items: center;

}
nav {
  font-size: var(--font-size-base);

}
nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  
}
  nav li a {
    text-decoration: none;
  }
  .about {
    background-color: white;
      border-radius: 1rem;
      padding: 1rem ;
      margin-bottom: 1rem;
  }

  .cujamb {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
  }

h1 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  border-radius: 2px;
  padding: 8px;
  margin: 0;
  background: #80AC71;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px 
  
}

h2 {font-size: var(--font-size-lg);
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 0;
  background: pink;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px 
  
}

h3 {
  font-size: var(--font-size-xl);
  border-radius: 2px;
  padding: 14px;
  margin: 0;
  background: #FAF8B1;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px 
}

p {
  font-size: var(--font-size-md);
  border-radius: 2px;
  padding: 8px;
  margin-top:0;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px 
}


span.pb {
  background-color: #pink;
  vertical-align: bottom;
  color: white;
  font-size: 1.7rem;
  padding-right: .25rem;
  
}

span.down {
  font-size: 1.5rem;
  float: right;
}

img {
  max-width: 50%;
  height: auto;
  float: right;
  margin-right: .5rem;
  margin-top: .5rem;
}

